<section class="col">
    <div class="container text-center mt-5">
        <div class="col">
            <strong class="font-s-1"> รับทำเว็บไซต์ สร้างโอกาส ขายดีเกินคาด </strong> <br>
            <strong class="font-s-2">เว็บไซต์แนวใหม่ สวย ใช้ง่าย แสดงผลได้ดีในหน้าจอคอมพิวเตอร์ แท็บเล็ตและมือถือ</strong>
        </div>
    </div>
</section>

<section class="col bg-image position-relative mt-5">
    <div class="row justify-content-center">

        <div class="col-8 position-absolute b2-top">
            <h1><strong class="font-s-3">สร้างเว็บไซต์</strong> <br> <strong class="font-s-5"> สร้างโอกาส สร้างยอดขายใหม่ๆ ให้ดีเกินคาด </strong></h1>
            <ul>
                <li class="font-s-4">ไม่มีหน้าร้านก็สามารถขายสินค้าได้</li>
                <li class="font-s-4">ไม่ต้องมีพนักงานขาย</li>
                <li class="font-s-4">ลงทุนน้อยไม่ต้องเช่าพื้นที่</li>
            </ul>

            <a href="/contact" class="btn btn-lg  btn-success"><i class="fa-solid fa-headset"></i> สอบถามเพิ่มเติม</a>
        </div>
    </div>

</section>

<section class="col p-5" style="background-color: #E5E5E5;">
    <div class="container text-center">
        <h1><strong>ตัวอย่างเว็บไซต์</strong></h1>
        <div class="row justify-content-center">
            <% for(let i = 0; i < 12; i++){%>
                <div class="card p-0 m-3 shadow-sm" style="width: 18rem;">
                    <img src="images/product/<%=i%>.jpg" class="card-img-top" alt="...">
                </div>

                <% }%>
        </div>
    </div>
</section>

<section class="col mt-5" id="service">
    <div class="container">
        <div class="row justify-content-center">
            <% 
                const Pagket = ['Sale Page Website', 'Corporate Website', 'Catalog Website', 'E-commerce Website']
                const price = ['5,000', '17,000', '22,000', '32,000']
            %>

                <div class="card p-0 m-3" style="width: 18rem;">
                    <div class="p-3" style="
                                background-image: url(https://www.raingoosedesign.co.uk/wp-content/uploads/2019/05/backgroundpattern.png);
                                background-position: bottom;
                                height: 5rem; 
                                width: 100%;
                                color: aliceblue;">
                        <h3>
                            <%= Pagket[0]%>
                        </h3>
                    </div>
                    <div class="card-body p-3">
                        <p class="card-text font-s-2">
                            <small><strong class="font-s-4">เริ่มต้นที่ </strong></small> <strong> ฿<%= price[0]%></strong>
                        </p>
                        <ul>
                            <li class="pt-1"> ออกแบบเว็บไซต์จำนวน 1 หน้าหลัก</li>
                            <li class="pt-1"> รองรับการแสดงผลทุกหน้าจอ</li>
                            <li class="pt-1"> วางระบบใช้งานหลังบ้านเว็บไซต์</li>
                            <li class="pt-1"> รูปลิขสิทธิ์ 3-5 รูป</li>
                            <li class="pt-1"> วางโครงสร้างเว็บให้เหมอะสำหรับการทำ SEO</li>
                            <li class="pt-1"> ปรับ Pagespeed หน้าเว็บไซต์</li>
                            <li class="pt-1"> การแก้ไขงานได้ 2 ครั้ง (กรณีไม่ได้เกิดจากความผิดพาลของผู้จัดทำ)</li>
                            <li class="pt-1"> ติดตั้ง Google Analytics</li>
                            <li class="pt-1"> ติดตั้ง SSL Certificates มาตรฐานความปลอดภัยเว็บไซต์</li>
                            <li class="pt-1"> ติดตั้งระบบ Gmail SMTP ระบบป้องกัน Mail เข้า Spam</li>
                            <li class="pt-1"> ดูแลและให้คำปรึกษาในเรื่องระบบความปลอดภัยตลอดระยะเวลาการใช้งาน (กรณีที่ใช้ Hosting ที่ทางผู้จัดทำแนะนำ หากใช้งานบน Hosting อื่นดูแล 3 เดือนแรก)</li>
                        </ul>

                    </div>
                </div>

                <div class="card p-0 m-3" style="width: 18rem;">
                    <div class="p-3" style="
                                background-image: url(https://www.raingoosedesign.co.uk/wp-content/uploads/2019/05/backgroundpattern.png);
                                background-position: bottom;
                                height: 5rem; 
                                width: 100%;
                                color: aliceblue;">
                        <h3>
                            <%= Pagket[1]%>
                        </h3>
                    </div>
                    <div class="card-body p-3">
                        <p class="card-text font-s-2">
                            <small><strong class="font-s-4">เริ่มต้นที่ </strong></small> <strong> ฿<%= price[1]%></strong>
                        </p>
                        <ul>
                            <li class="pt-1"> ออกแบบเว็บไซต์จำนวน 3-5 หน้าหลัก</li>
                            <li class="pt-1"> รองรับการแสดงผลทุกหน้าจอ</li>
                            <li class="pt-1"> วางระบบใช้งานหลังบ้านเว็บไซต์</li>
                            <li class="pt-1"> รูปลิขสิทธิ์ 5-10 รูป</li>
                            <li class="pt-1"> วางโครงสร้างเว็บให้เหมอะสำหรับการทำ SEO</li>
                            <li class="pt-1"> ปรับ Pagespeed หน้าเว็บไซต์</li>
                            <li class="pt-1"> การแก้ไขงานได้ 2 ครั้ง (กรณีไม่ได้เกิดจากความผิดพาลของผู้จัดทำ)</li>
                            <li class="pt-1"> ติดตั้ง Google Analytics</li>
                            <li class="pt-1"> ติดตั้ง SSL Certificates มาตรฐานความปลอดภัยเว็บไซต์</li>
                            <li class="pt-1"> ติดตั้งระบบ Gmail SMTP ระบบป้องกัน Mail เข้า Spam</li>
                            <li class="pt-1"> ดูแลและให้คำปรึกษาในเรื่องระบบความปลอดภัยตลอดระยะเวลาการใช้งาน (กรณีที่ใช้ Hosting ที่ทางผู้จัดทำแนะนำ หากใช้งานบน Hosting อื่นดูแล 3 เดือนแรก)</li>
                        </ul>

                    </div>
                </div>

                <div class="card p-0 m-3" style="width: 18rem;">
                    <div class="p-3" style="
                                background-image: url(https://www.raingoosedesign.co.uk/wp-content/uploads/2019/05/backgroundpattern.png);
                                background-position: bottom;
                                height: 5rem; 
                                width: 100%;
                                color: aliceblue;">
                        <h3>
                            <%= Pagket[2]%>
                        </h3>
                    </div>
                    <div class="card-body p-3">
                        <p class="card-text font-s-2">
                            <small><strong class="font-s-4">เริ่มต้นที่ </strong></small> <strong> ฿<%= price[2]%></strong>
                        </p>
                        <ul>
                            <li class="pt-1"> ออกแบบเว็บไซต์จำนวน 4-8 หน้าหลัก</li>
                            <li class="pt-1"> รองรับการแสดงผลทุกหน้าจอ</li>
                            <li class="pt-1"> วางระบบใช้งานหลังบ้านเว็บไซต์</li>
                            <li class="pt-1"> เพิ่ม ลบ แก้ไข สินค้าได้</li>
                            <li class="pt-1"> สินค้าหนึ่งชิ้นสามารถใส่รูป Gallery มากกว่าหนึ่งรูปได้</li>
                            <li class="pt-1"> ใส่ ราคา / ลดราคา / กำหนดช่วงราคาที่ลดราคาได้</li>
                            <li class="pt-1"> ระบบปลั๊กอินแชทเฟสบุค</li>
                            <li class="pt-1"> Filter หมวดหมู่สินค้า</li>
                            <li class="pt-1"> รูปลิขสิทธิ์ 5-10 รูป</li>
                            <li class="pt-1"> วางโครงสร้างเว็บให้เหมอะสำหรับการทำ SEO และ Google Ads</li>
                            <li class="pt-1"> ปรับ Pagespeed หน้าเว็บไซต์</li>
                            <li class="pt-1"> การแก้ไขงานได้ 2 ครั้ง (กรณีไม่ได้เกิดจากความผิดพาลของผู้จัดทำ)</li>
                            <li class="pt-1"> ติดตั้ง Google Analytics</li>
                            <li class="pt-1"> ติดตั้ง SSL Certificates มาตรฐานความปลอดภัยเว็บไซต์</li>
                            <li class="pt-1"> ติดตั้งระบบ Gmail SMTP ระบบป้องกัน Mail เข้า Spam</li>
                            <li class="pt-1"> ดูแลและให้คำปรึกษาในเรื่องระบบความปลอดภัยตลอดระยะเวลาการใช้งาน (กรณีที่ใช้ Hosting ที่ทางผู้จัดทำแนะนำ หากใช้งานบน Hosting อื่นดูแล 3 เดือนแรก)</li>
                        </ul>

                    </div>
                </div>

                <div class="card p-0 m-3" style="width: 18rem;">
                    <div class="p-3" style="
                                background-image: url(https://www.raingoosedesign.co.uk/wp-content/uploads/2019/05/backgroundpattern.png);
                                background-position: bottom;
                                height: 5rem; 
                                width: 100%;
                                color: aliceblue;">
                        <h3>
                            <%= Pagket[3]%>
                        </h3>
                    </div>
                    <div class="card-body p-3">
                        <p class="card-text font-s-2">
                            <small><strong class="font-s-4">เริ่มต้นที่ </strong></small> <strong> ฿<%= price[3]%></strong>
                        </p>
                        <ul>
                            <li class="pt-1"> ออกแบบเว็บไซต์จำนวน 4-8 หน้าหลัก</li>
                            <li class="pt-1"> รองรับการแสดงผลทุกหน้าจอ</li>
                            <li class="pt-1"> วางระบบใช้งานหลังบ้านเว็บไซต์</li>
                            <li class="pt-1"> เพิ่ม ลบ แก้ไข สินค้าได้</li>
                            <li class="pt-1"> สินค้าหนึ่งชิ้นสามารถใส่รูป Gallery มากกว่าหนึ่งรูปได้</li>
                            <li class="pt-1"> ใส่ ราคา / ลดราคา / กำหนดช่วงราคาที่ลดราคาได้</li>
                            <li class="pt-1"> ระบบระบบตะกร้าสินค้า</li>
                            <li class="pt-1"> ระบบสต๊อกสินค้า</li>
                            <li class="pt-1"> Filter หมวดหมู่สินค้า</li>
                            <li class="pt-1"> ระบบแจ้งชำระเงิน</li>
                            <li class="pt-1"> สร้างคูปองส่วนลด</li>
                            <li class="pt-1"> แจ้ง Order ทาง Email และสามารถ Export เป็นไฟล์ Excel ได้</li>
                            <li class="pt-1"> ระบบปลั๊กอินแชทเฟสบุค</li>
                            <li class="pt-1"> รูปลิขสิทธิ์ 5-10 รูป</li>
                            <li class="pt-1"> วางโครงสร้างเว็บให้เหมอะสำหรับการทำ SEO และ Google Ads</li>
                            <li class="pt-1"> ปรับ Pagespeed หน้าเว็บไซต์</li>
                            <li class="pt-1"> การแก้ไขงานได้ 2 ครั้ง (กรณีไม่ได้เกิดจากความผิดพาลของผู้จัดทำ)</li>
                            <li class="pt-1"> ติดตั้ง Google Analytics</li>
                            <li class="pt-1"> ติดตั้ง SSL Certificates มาตรฐานความปลอดภัยเว็บไซต์</li>
                            <li class="pt-1"> ติดตั้งระบบ Gmail SMTP ระบบป้องกัน Mail เข้า Spam</li>
                            <li class="pt-1"> ดูแลและให้คำปรึกษาในเรื่องระบบความปลอดภัยตลอดระยะเวลาการใช้งาน (กรณีที่ใช้ Hosting ที่ทางผู้จัดทำแนะนำ หากใช้งานบน Hosting อื่นดูแล 3 เดือนแรก)</li>
                        </ul>

                    </div>
                </div>

        </div>
    </div>
</section>



<section class="col" style="background-color: #F6F6F6;">
    <div class="container">
        <div class="row">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <% for(let i = 1; i <= 7; i++){ %>
                        <%if(i === 1){%>
                            <div class="carousel-item active">
                                <div class="row justify-content-center">
                                    <img src="images/review/<%=i%>.jpg" class="d-block" style="width: 50rem;" alt="...">
                                </div>
                            </div>
                            <%}else{%>
                                <div class="carousel-item">
                                    <div class="row justify-content-center">
                                        <img src="images/review/<%=i%>.jpg" class="d-block" style="width: 50rem;" alt="...">
                                    </div>
                                </div>
                                <%}}%>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</section>


<section class="col bg-warning shadow-sm">
    <div class="container">
        <div class="row pt-5 pb-5">
            <div class="col-12 col-sm-4 mt-5" style="text-indent: 50px;">
                <strong class="fs-4" style="letter-spacing:.1rem; color: #555555;"> ความสุขของเราคือได้ผลิตงานที่ ทำให้คุณพอใจและเห็นผลลัพธ์ ที่ต่อยอดความสำเร็จให้กับคุณ</strong>
            </div>
            <div class="col-12 col-sm-4 mt-5" style="text-indent: 50px;">
                <strong class="fs-4" style="letter-spacing:.1rem; color: #555555;"> ทุกโจทย์คือกุญแจสำคัญในการไขความสำเร็จของธุรกิจคุณ เรายินดีที่จะสร้างกุญแจให้กับธุรกิจของคุณ</strong>
            </div>
            <div class="col-12 col-sm-4 mt-5" style="text-indent: 50px;">
                <strong class="fs-4" style="letter-spacing:.1rem; color: #555555;"> บริการหลังการขายที่รวดเร็ว และยืดหยุ่น คือจุดแข็งของเรา</strong>
            </div>
        </div>
    </div>
</section>


<section class="col pt-5 pb-5" id="abountme">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="col-12 text-center">
                    <img src="images/logo.png" class="w-25" alt="">
                </div>
                <div class="col-12 mt-5 text-center">
                    <h1>เราพร้อมให้คำปรึกษาฟรี</h1>
                    <p><strong>ออกแบบและพัฒนาเว็บไซต์ใหม่ทั้งหมดโดยคำนึงถึง การออกแบบ UX/UI ตามที่ลูกค้าต้องการ สร้างภาพลักษณ์ ทันสมัยให้กับองค์กร</strong></p>
                </div>
                <div class="col-12 mt-5 text-center">
                    <a href="/contact" class="btn btn-outline-warning w-50"><i class="fa-solid fa-headset"></i> สอบถามเพิ่มเติม คลิก</a>
                </div>
            </div>
        </div>
    </div>
</section>